---
const {
    linkButton = true,
    href,
    outlined = true,
    disabled,
    className = "",
} = Astro.props;

const outlinedClass = outlined ? "outlined" : "filled";
---

{
    linkButton ? (
        <a href={href} target="_blank" class={`base-button ${outlinedClass} ${className}`}>
            <slot />
        </a>
    ) : (
        <button class={`base-button ${outlinedClass} ${className}`}>
            <slot />
        </button>
    )
}

<style></style>
