---
const {
    icon = "question_mark",
    className = "",
    color = "#FFFFFF",
} = Astro.props;
---

<!-- <box-icon name={icon} class={className + ``} color={color}></box-icon> -->
<span class=`!text-[${color}] ${className} m-0 p-0`>
    <i class=`bx bx-${icon} bx-sm`></i>
</span>

<link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
/>
<!-- <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> -->

<style></style>
